

.articles{
    background-image: url(/src/assets/articles-image.jpg);
    background-size:cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    vertical-align: top;
}

a {
    color: black;
    text-decoration: none; /* no underline */
}

a:hover { 
    text-decoration: none;
    color: dimgray; 
}

/* NASA picture of the day */
.space-img-date{
    font-size: 14px;
    font-weight: thin;
    font-style: italic;
}


.box-a{
    border-top: 5px solid blueviolet;
    background-color: white;
    width: 720px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-flex;
    position: relative;
    margin-top: 40px;
    height: 630px;
}

.NASA-header h1{
    padding-left: 15px;
    background-color: blueviolet;
    width: 290px;
    height: 30px;
    color: white;
    font-size: large;
    padding-bottom: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.space-image-container{
    padding: 0 15px;
    justify-content: center;
}

.spacebox img{
    width: 690px;
    height: 500px;
    margin-bottom: 10px;
}

.box2 img{
    object-fit: cover;
}

.space-image-container h2{
    font-size: 25px;
}

/* Most Popular Styling */
.box-b{
    border-top: 5px solid blueviolet;
    margin-top: 40px;
    background-color: white;
    width: 350px;
    display: inline-flex;
    position: absolute;
    height: 630px;
}

.most-popular-container h1{
    background-color: blueviolet;
    height: 30px;
    width: 180px;
    padding-left: 15px;
    color: white;
    font-size: large;
    margin-bottom: 10px;
    letter-spacing: 1.2px;
}


.articles-text h2{
    font-size: 18px;
}


.articles-container{
    padding: 0 15px 13px 15px;
    height: auto;
}

.box img {
    width: 110px;
    height: 100px;
    float: right;
    margin-left: 10px;
}

.box1 img {
    object-fit: cover;
}



/* Blog Post Styling */

.blog-container{
    background-color: white;
    height: 320px;
    width: 350px;
    display: inline-block; vertical-align: top;
    margin-right: 20px;
    margin-bottom: 50px;
}

.blog-text h1{
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 10px 0px 10px;
}

.blog-text p{
    margin: 10px 10px 0 10px;
}

.blogbox img {
    width: 350px;
    height: 180px;
}

.box3 img {
    object-fit: cover;
}


/* Blog Finishing */



