#content{
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    vertical-align: top;
}

#inner-content{
    background-color: aqua;
    width: 1100px;
align-items: center;
vertical-align: top;
margin-top: 50px;
margin-bottom: 50px;
}

#content-setup{
    margin: 50px;
}

#inner-content h1{
    text-align: center;
    color: floralwhite;
}

.content-date{
    text-align: center;
    font-size: medium;
}

.contentbox img{
    width: 1000px;
    height: auto;
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

#content-setup h2{
    font-size: x-large;
}

.credit{
    margin-bottom: 30px;
}

.credit h3{
    font-size: large;
    text-align: center;
}

