body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

#SpaceImage{
  display: flex;
  width: 100%;
  margin: 0%;
}

/* Footer Styling */
#Footer{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 80px;
}

.container-fluid{
  
  background-color: blueviolet;
}


#logo {
	height: 40px;
  padding-right: 150px;
  padding-left: 50px;
}

#navbar-nav{
  width: 500px;
  justify-content: space-around;

}

#navbarText{
  color: blueviolet;

}

#navbar-nav{
  font-size: medium;
  font-family: 'Rubik', sans-serif;

}

#dropdown-menu{
  padding-left: 100px;
}

/* Planets Together */
.row{
    display:flex;
    margin: 0 auto;

}

/* Image CSS */
#sun-img{
  height: 500px;
}
#mercury-img{
  height: 65px;
}

#venus-img{
  height: 115px;
}

#earth-img{
  height: 132px;
}

#mars-img{
  height: 86px;
}

#jupiter-img{
  height: 231px;
}

#saturn-img{
  height: 200px;
}

#uranus-img{
  height: 160px;
}

#neptune-img{
  height: 150px;
}