body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  max-width: 1920px;
  margin: auto
}

#SpaceImage{
  display: flex;
  width: 100%;
  margin: 0%;
}

/* Footer Styling */
#Footer{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 80px;
}

.HeaderNav{
  background-color: blueviolet;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#logo {
	height: 40px;
  padding-right: 150px;
  padding-left: 50px;
}

#navbar-nav{
  width: 500px;
  justify-content: space-around;
}

#navbar-nav{
  font-size: medium;
  font-family: 'Rubik', sans-serif;

}

#dropdown-menu{
  padding-left: 100px;
}
