body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

#SpaceImage{
  display: flex;
  width: 100%;
  margin: 0%;
}

/* Footer Styling */
#Footer{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 80px;
}

#container{
  height: 100px;
}

/* Header Logo CSS */
#logo {
  margin-top: 20px;
  margin-bottom: 20px;
	height: 40px;
}

#navh1 {
  font-size: large;
  padding-right: 300px;
}

#navbarText{
  float: right;
}

#navbar-nav{
  background-color: green;
  justify-content: space-around;

}

#nav-link{
  padding: 100px;
}

#dropdown-menu{
  padding-left: 100px;
}