/* Planets Together */
.row{
    display:flex;
    margin: 0 auto;

}

.planetstogether{
  background-image: url(/src/assets/nightskyimage.jpg);
  background-size: 1500px;
  display: inline-flex;
  align-items: center;
  height: 700px;
  justify-content: center;

}

h5{
  color: white;
  font-size: medium;
  padding-top: 5px;
  align-items: center;

}

.planetdivs{
  padding: 2px;
  display: flex;
  display: inline;
  text-align: center;
}

/* Image CSS */
#sun-img{
  height: 500px;
  padding-right: 10px;
}
#mercury-img{
  width: 65px;
  
  padding-right: 10px;
}

#venus-img{
  width: 115px;
  height: 115px;
}

#earth-img{
  width: 132px;
  height: 132px;
}

#mars-img{
  width: 86px;
}

#jupiter-img{
  width: 231px;
}

#saturn-img{
  width: 200px;
}

#uranus-img{
  width: 160px;
}

#neptune-img{
  width: 150px;
}

/* Button Style */
.buttonStyle{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
}


/* Popup Styling */
.popup {
  position: absolute;
  display: flex;

}

.popup-inner{
  position: absolute;
  padding: 32px;
  width: 640px;
  height: 300px;
  max-width: 640px;
  color: white;
  background-image: linear-gradient(to bottom right, #5F0A87 , #a4508B)  }

.popup-inner .close-btn{
  position: absolute;
  top: 16px;
  right: 16px;
}


.popupimg{
  height: 200px;
  float: left;
  padding-right: 10px;
}

.popup-inner h1{
  font-size: 30px;
}

.popup-inner p{
  font-size: 15px;
}