/* Planets Together */
.row{
    display:flex;
    margin: 0 auto;

}

.planetstogether{
  background-image: url(/src/assets/nightskyimage.jpg);
  background-size: 1500px;
  display: inline-flex;
  align-items: center;
  height: 800px;
  justify-content: center;

}

h5{
  color: white;
  font-size: medium;
  padding-top: 5px;
  align-items: center;

}

.planetdivs{
  padding: 2px;
  display: flex;
  display: inline;
  text-align: center;
}

/* Image CSS */
#sun-img{
  height: 500px;
  padding-right: 10px;
}
#mercury-img{
  width: 65px;
  
  padding-right: 10px;
}

#venus-img{
  width: 115px;
  height: 115px;
}

#earth-img{
  width: 132px;
  height: 132px;
}

#mars-img{
  width: 86px;
}

#jupiter-img{
  width: 231px;
}

#saturn-img{
  width: 200px;
}

#uranus-img{
  width: 160px;
}

#neptune-img{
  width: 150px;
}

/* Button Style */
.buttonStyle{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
}


/* Popup Styling */
.popup {
  display: flex;
  position: fixed;
  top: 36%;
  left: 30%;
}

.popup-inner{
  position: absolute;
  padding: 32px;
  width: 640px;
  height: 264px;
  max-width: 640px;
  color: white;
  background-image: linear-gradient(to bottom right, #5F0A87 , #a4508B)  }

.popup-inner .close-btn{
  position: absolute;
  top: 16px;
  right: 16px;
}

/* Sat Image Boxes start */
.satimgbackground{
  width: 200px;
  height: 200px;
  background-color: black;
  float: left;
  margin-right: 25px;
  justify-content: center;
}
/* Sat Image Boxes finish */


.popupimgsat{
  width: 200px;  
  margin-top: 50px;  
  margin-left: auto;
  margin-right: auto;

}

.popupimg{
  height: 200px;
  float: left;
  padding-right: 25px;
}

.popup-inner h1{
  font-size: 30px;
}

.popup-inner p{
  font-size: 15px;
  text-align: justify;
}

/* Close Button Styling */
.popup-inner button{
  margin-top: 10px;
}

.close-btn{
  background: none;
  border: 0;
  box-sizing: border-box;
  color: transparent;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  letter-spacing: 1.5px;
  line-height: 17px;
  outline: none;
  overflow: hidden;
  position: absolute;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
  width: 20px;
  height: 20px;
}

.close-btn::before,
.close-btn::after {
  background-color: white;
  content: '';
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  transform-origin: center left;
  transition: all 0.2s ease-in;
  width: 141.4214px;
  z-index: -1;
}

.close-btn::before {
  top: 0;
  transform: rotate(45deg);
}

.close-btn::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.close-btn:hover {
  color: #8A2387;
}

.close-btn:hover::before,
.close-btn:hover::after {
  height: 20px;
  transform: rotate(0deg);
}
