/* Popup Styling */
.popup {
    position: fixed;
    left: 30%;
    top: 25%;  
  }
  
  .popup-inner{
    position: absolute;
    padding: 32px;
    width: 640px;
    height: 400px;
    max-width: 640px;
    background-color: white;
  }
  
  .popup-inner .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
  }

  